.Light_Green-l1 {
	background-color : #66FF33;
}
.Light_Green-l2 {
	background-color : #75FF47;
}
.Light_Green-l3 {
	background-color : #85FF5C;
}
.Light_Green-l4 {
	background-color : #94FF70;
}
.Light_Green-l5 {
	background-color : #A3FF85;
}
.Light_Green-l6 {
	background-color : #B2FF99;
}
.Light_Green-l7 {
	background-color : #C2FFAD;
}
.Light_Green-l8 {
	background-color : #D1FFC2;
}
.Dark_Green-l1 {
	background-color : #00FF00;
}
.Dark_Green-l2 {
	background-color : #19FF19;
}
.Dark_Green-l3 {
	background-color : #4DFF4D;
}
.Dark_Green-l5 {
	background-color : #66FF66;
}
.Dark_Green-l6 {
	background-color : #80FF80;
}
.Dark_Green-l7 {
	background-color : #99FF99;
}
.Dark_Green-l8 {
	background-color : #B2FFB2;
}
.Turquoise-l1 {
	background-color : #00FF99;
}
.Turquoise-l2 {
	background-color : #19FFA3;
}
.Turquoise-l3 {
	background-color : #33FFAD;
}
.Turquoise-l4 {
	background-color : #4DFFB8;
}
.Turquoise-l5 {
	background-color : #66FFC2;
}
.Turquoise-l6 {
	background-color : #80FFCC;
}
.Turquoise-l7 {
	background-color : #99FFD6;
}
.Turquoise-l8 {
	background-color : #B2FFE0;
}
.Cyan-l1 {
	background-color : #00FFFF;
}
.Cyan-l2 {
	background-color : #19FFFF;
}
.Cyan-l3 {
	background-color : #33FFFF;
}
.Cyan-l4 {
	background-color : #4DFFFF;
}
.Cyan-l5 {
	background-color : #66FFFF;
}
.Cyan-l6 {
	background-color : #80FFFF;
}
.Cyan-l7 {
	background-color : #99FFFF;
}
.Cyan-l8 {
	background-color : #B2FFFF;
}
.clickableRow {
	cursor: pointer;
}
