{%extends 'layout.html' %}
{% block body %}
{% if len(tasks) == 0 %}
	<div class="jumbotron">
		<p>You don't have any tasks :(</p>
	</div>
{% else %}
	<table class="table">
		{% for task in tasks %}
			<tr class="{{ task.project.theme }}-{{ sorter(task.dueDate) }}">
				<td>
					{{ task.title }}
				</td>
				<td>
					{{ task.detail }}
				</td>
				<td>
					<a href="/tasks/{{ task.project.url }}"></a>{{ task.project.name }}
				</td>
				<td syle="text-align:right;">
					<a href="/edittask/{{ task.objectId }}"><span data-toggle="tooltip" data-placement="top" title="Edit Task" class="glyphicon glyphicon-edit"></span></a>
					<a href="/deltask/{{ task.objectId }}"><span data-toggle="tooltip" data-placement="top" title="Delete Task" class="glyphicon glyphicon-remove-circle"></span></a>
				</td>
				<td>
					<input type="checkbox" class="completed">
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
{% endblock %}
