{%extends 'layout.html' %}
{% block body %}
{% if len(tasks) == 0 %}
	<div class="jumbotron">
		<h1>Welcome to {{ project.name }}!</h1>
		<p>You don't have any tasks :(</p>
		<p><a class="btn btn-default btn-lg" href="/newtask/{{ project.url }}" role="button">Fix That</a></p>
	</div>
{% else %}
	<table role="table">
		{% for task in tasks %}
			<tr class="{{ task.project.theme }}-{{ sorter(task.dueDate) }}">
				<td>
					{{ task.title }}
				</td>
				<td>
					{{ task.detail }}
				</td>
				<td syle="text-align:right;">
					<a href="/edittask/{{ task.objectId }}"><span data-toggle="tooltip" data-placement="top" title="Edit Task" class="glyphicon glyphicon-edit"></span></a>
					<a href="/deltask/{{ task.objectId }}"><span data-toggle="tooltip" data-placement="top" title="Delete Task" class="glyphicon glyphicon-remove-circle"></span></a>
				</td>
				<td>
					<input type="checkbox" class="completed">
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
